<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wechat.dao.OrderMapper">
  <cache type="org.mybatis.caches.ehcache.LoggingEhcache" />
  <resultMap id="BaseResultMap" type="com.wechat.dao.pojo.Order">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="uuid" jdbcType="VARCHAR" property="uuid" />
    <result column="create_time" jdbcType="TIME" property="createTime" />
    <result column="desk_id" jdbcType="INTEGER" property="deskId" />
    <result column="cook_state" jdbcType="INTEGER" property="cookState" />
    <result column="should_pay" jdbcType="REAL" property="shouldPay" />
    <result column="amount_paid" jdbcType="REAL" property="amountPaid" />
    <result column="customers" jdbcType="INTEGER" property="customers" />
    <result column="store_id" jdbcType="INTEGER" property="storeId" />
    <result column="finished" jdbcType="INTEGER" property="finished" />
    <result column="is_urgent" jdbcType="INTEGER" property="isUrgent" />
    <result column="create_day" jdbcType="DATE" property="createDay" />
    <result column="note" jdbcType="VARCHAR" property="note" />
    <result column="u_id" jdbcType="VARCHAR" property="uId" />
  </resultMap>
  <sql id="Base_Column_List">
    id, uuid, create_time, desk_id, cook_state, should_pay, amount_paid, customers, store_id, 
    finished, is_urgent, create_day, note, u_id
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from f_order
    where id = #{id,jdbcType=INTEGER}
  </select>
  <insert id="insertSelective" keyColumn="id" keyProperty="id" parameterType="com.wechat.dao.pojo.Order" useGeneratedKeys="true">
    insert into f_order
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="uuid != null">
        uuid,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="deskId != null">
        desk_id,
      </if>
      <if test="cookState != null">
        cook_state,
      </if>
      <if test="shouldPay != null">
        should_pay,
      </if>
      <if test="amountPaid != null">
        amount_paid,
      </if>
      <if test="customers != null">
        customers,
      </if>
      <if test="storeId != null">
        store_id,
      </if>
      <if test="finished != null">
        finished,
      </if>
      <if test="isUrgent != null">
        is_urgent,
      </if>
      <if test="createDay != null">
        create_day,
      </if>
      <if test="note != null">
        note,
      </if>
      <if test="uId != null">
        u_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="uuid != null">
        #{uuid,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIME},
      </if>
      <if test="deskId != null">
        #{deskId,jdbcType=INTEGER},
      </if>
      <if test="cookState != null">
        #{cookState,jdbcType=INTEGER},
      </if>
      <if test="shouldPay != null">
        #{shouldPay,jdbcType=REAL},
      </if>
      <if test="amountPaid != null">
        #{amountPaid,jdbcType=REAL},
      </if>
      <if test="customers != null">
        #{customers,jdbcType=INTEGER},
      </if>
      <if test="storeId != null">
        #{storeId,jdbcType=INTEGER},
      </if>
      <if test="finished != null">
        #{finished,jdbcType=INTEGER},
      </if>
      <if test="isUrgent != null">
        #{isUrgent,jdbcType=INTEGER},
      </if>
      <if test="createDay != null">
        #{createDay,jdbcType=DATE},
      </if>
      <if test="note != null">
        #{note,jdbcType=VARCHAR},
      </if>
      <if test="uId != null">
        #{uId,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.wechat.dao.pojo.Order">
    update f_order
    <set>
      <if test="uuid != null">
        uuid = #{uuid,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIME},
      </if>
      <if test="deskId != null">
        desk_id = #{deskId,jdbcType=INTEGER},
      </if>
      <if test="cookState != null">
        cook_state = #{cookState,jdbcType=INTEGER},
      </if>
      <if test="shouldPay != null">
        should_pay = #{shouldPay,jdbcType=REAL},
      </if>
      <if test="amountPaid != null">
        amount_paid = #{amountPaid,jdbcType=REAL},
      </if>
      <if test="customers != null">
        customers = #{customers,jdbcType=INTEGER},
      </if>
      <if test="storeId != null">
        store_id = #{storeId,jdbcType=INTEGER},
      </if>
      <if test="finished != null">
        finished = #{finished,jdbcType=INTEGER},
      </if>
      <if test="isUrgent != null">
        is_urgent = #{isUrgent,jdbcType=INTEGER},
      </if>
      <if test="createDay != null">
        create_day = #{createDay,jdbcType=DATE},
      </if>
      <if test="note != null">
        note = #{note,jdbcType=VARCHAR},
      </if>
      <if test="uId != null">
        u_id = #{uId,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from f_order
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <select id="selectByCondition" parameterType="com.wechat.dao.pojo.Order" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from f_order where 1 = 1 
    <if test="uuid != null">
        and uuid = #{uuid,jdbcType=VARCHAR}
    </if>
    <if test="createTime != null">
        and create_time = #{createTime,jdbcType=TIME}
    </if>
    <if test="deskId != null">
        and desk_id = #{deskId,jdbcType=INTEGER}
    </if>
    <if test="cookState != null">
        and cook_state = #{cookState,jdbcType=INTEGER}
    </if>
    <if test="shouldPay != null">
        and should_pay = #{shouldPay,jdbcType=REAL}
    </if>
    <if test="amountPaid != null">
        and amount_paid = #{amountPaid,jdbcType=REAL}
    </if>
    <if test="customers != null">
        and customers = #{customers,jdbcType=INTEGER}
    </if>
    <if test="storeId != null">
        and store_id = #{storeId,jdbcType=INTEGER}
    </if>
    <if test="finished != null">
        and finished = #{finished,jdbcType=INTEGER}
    </if>
    <if test="isUrgent != null">
        and is_urgent = #{isUrgent,jdbcType=INTEGER}
    </if>
    <if test="createDay != null">
        and create_day = #{createDay,jdbcType=DATE}
    </if>
    <if test="note != null">
        and note = #{note,jdbcType=VARCHAR}
    </if>
    <if test="uId != null">
        and u_id = #{uId,jdbcType=VARCHAR}
    </if>
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from f_order
  </select>
  <delete id="deleteBySelective" parameterType="com.wechat.dao.pojo.Order">
    delete from f_order
    <where>
      <if test="uuid != null">
          and uuid = #{uuid,jdbcType=VARCHAR}
      </if>
      <if test="createTime != null">
          and create_time = #{createTime,jdbcType=TIME}
      </if>
      <if test="deskId != null">
          and desk_id = #{deskId,jdbcType=INTEGER}
      </if>
      <if test="cookState != null">
          and cook_state = #{cookState,jdbcType=INTEGER}
      </if>
      <if test="shouldPay != null">
          and should_pay = #{shouldPay,jdbcType=REAL}
      </if>
      <if test="amountPaid != null">
          and amount_paid = #{amountPaid,jdbcType=REAL}
      </if>
      <if test="customers != null">
          and customers = #{customers,jdbcType=INTEGER}
      </if>
      <if test="storeId != null">
          and store_id = #{storeId,jdbcType=INTEGER}
      </if>
      <if test="finished != null">
          and finished = #{finished,jdbcType=INTEGER}
      </if>
      <if test="isUrgent != null">
          and is_urgent = #{isUrgent,jdbcType=INTEGER}
      </if>
      <if test="createDay != null">
          and create_day = #{createDay,jdbcType=DATE}
      </if>
      <if test="note != null">
          and note = #{note,jdbcType=VARCHAR}
      </if>
      <if test="uId != null">
          and u_id = #{uId,jdbcType=VARCHAR}
      </if>
    </where>
  </delete>
</mapper>